body {
    display: flex;
}
.container {
    display: flex;
    height: 100vh;
    
}
.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background-image: url(images/dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    align-items: center;
}

.logo-container > span {
    font-size: 50px;
    padding: 12px;
}

.logo-container > img {
    padding-left: 12px;
}

.attributes {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    color: white;
}

.attributes > p {
    margin: 0;
}

a {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
