html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: logo-font;
    src: url(BewareOfTheDog-eo7e.ttf)format("truetype");
}

body {
    display: flex;
}

.container {
    display: flex;
    height: 100vh;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-image: url(images/dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    align-items: center;
    background-color: hsla(132, 6%, 83%, 50%);
}

.logo-container > span {
    font-size: 50px;
    padding: 12px;
    font-family: logo-font;
    text-align: center;
}

.logo-container > img {
    padding-left: 12px;
}

.attributes {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    color: white;
}

.attributes > p {
    margin: 0;
}

a {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    background-color: #89CFF0;
}

.header, legend {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.form-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0;
    background-color: blanchedalmond;
    height: 250px;
    padding-top: 20px;
}

.form-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(255, 245, 231);
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;

}

input {
  width: 250px;
  height: 30px;
  padding-left: 8px;
  margin: 0;
  box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
    height: 180px;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
}

li {
    display: flex;
    gap: 10%;
    float: left;
}

label {
    display: flex;
    flex-direction: column;
    font-family: "Jost", sans-serif;
    color: rgb(61, 61, 61);
    font-size: small;
}

button {
    padding: 12px 32px;
    border-radius: 5px;
    border: none;
    background-color: #aa7a4c;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 4px black;;
}

button:hover {
    background-color: white;
    color: #aa7a4c;
}

.header, .footer, ul, legend {
    margin-left: 5%;
}

input:focus {
    outline: none;
    border-color: #89CFF0;
    box-shadow: 0 0 3px #89CFF0;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
    border-color: red;
  }